<html ng-app="workshop">

<head>
	<title>Awesome Grid - by MM</title>
	
	<link href="bootstrap.min.css" rel="stylesheet">
	<script src="angular.min.js"></script>
	<script src="workshop.js"></script>
</head>

<!-- use as *var* instead of $scope -->
<body ng-controller="AppCtrl as app">

<div style="float : right" ng-show="app.selectedGame">
	<h1>Name: {{app.selectedGame.name}}</h1>
	<h1>Year: {{app.selectedGame.yearPublished}}</h1>
	<img ng-src="http://localhost:3000/{{app.selectedGame.image}}" />
</div>

<form>
	<div class="form-group">
        <label for="inputEmail">name:</label>
		<input type="text" ng-model="app.search.name" ng-model-options="{debounce:500}"  /><br/>
	</div>
	<div class="form-group">
        <label for="inputEmail">rank:</label>
		<input type="text" ng-model="app.search.rank" ng-model-options="{debounce:500}"  /><br/>
	</div>
</form>

<table class="table">

	<thead>
		<tr>
			<td ng-click="app.setOrder('name');">Game</td>
			<td ng-click="app.setOrder('rank');">Rank</td>
			<td>Thumbnail</td>
		</tr>
	</thead>
	
	<tr ng-repeat="game in app.data 
		| filter:app.search 
		| orderBy: app.order
		| limitTo: 5"
		ng-click="app.selectGame(game.gameId)"
		>
		<td>
			<div ng-show="app.selectedGame.gameId === game.gameId" >
				<input type="text" ng-model="game.name"/>
				<button ng-click="app.updateSelectedGame(game);">update</button>
				<button ng-click="app.deleteSelectedGame(game);">delete</button>
			</div>
			{{game.name}}
		</td>
		<td>{{game.rank}}</td>
		<td>
			<img ng-src="http://localhost:3000/{{game.thumbnail}}" />
		</td>
	</tr>
	
</table>

<body>

</html>
